
<div class="wrapper">
    <div id="formContent">
        <div *ngIf="image.length>0">
            <img [src]="getImage()" />
        </div>
    </div>
</div>


<div class="container">
    <h1>Création d'une commande</h1>
    <form class="form-horizontal" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" name="form" [formGroup]="form" >
        <div class="form-group">
            <label for="email1" class="col-sm-2 control-label">Numéro de commande :</label>
            <div class="col-sm-5">
                <input type="text" class="form-control inputstl" name="orderNumber" placeholder="Numéro de commande" formControlName="orderNumber" required>
            </div>
        </div>
        <div class="form-group">
            <label for="email1" class="col-sm-2 control-label">Client :</label>
            <div class="col-sm-5">
                <input type="text" class="form-control inputstl" id="email1" name="fullname" placeholder="Nom du client" formControlName="fullname" required>
            </div>
        </div>
        <div class="form-group">
            <label for="address1" class="col-sm-2 control-label">Email:</label>
            <div class="col-sm-5">
                <input type="email" class="form-control inputstl" id="address1"name="email" placeholder="email" formControlName="email" required>
            </div>
        </div>
        <div class="form-group">
            <label for="gender1" class="col-sm-2 control-label">Etat : </label>
            <div class="col-sm-5">
                <select class="form-control inputstl" id="email1" formControlName="state" required>
                    <option *ngFor="let state of states" [ngValue]="state">{{state.etat}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="address1" class="col-sm-2 control-label">Date de réception :</label>
            <div class="col-sm-5">
                <input type="date" class="form-control inputstl" id="address1" name="arrivalDate" placeholder="Date d'arrivée"
                formControlName="arrivalDate" required>
            </div>
        </div>
        <div class="form-group">
            <label for="address1" class="col-sm-2 control-label">Date d'expédition :</label>
            <div class="col-sm-5">
                <input type="date" class="form-control inputstl" id="address1" name="shippingDate"
                placeholder="Date d'expédition" formControlName="shippingDate" required>
            </div>
        </div>
        <div class="form-group">
            <label for="address1" class="col-sm-2 control-label">Notifier par email ? </label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value=true formControlName="notify">
                <label class="form-check-label" for="flexRadioDefault1">
                  Oui
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value=false checked formControlName="notify">
                <label class="form-check-label" for="flexRadioDefault2">
                  Non
                </label>
              </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Commentaire : </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="comment"></textarea>
          </div>
        <div class="form-group">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-lg btn-block btn-info">Valider</button>
                </div>
            </div>
        </div>
    </form>
</div>


