<div class="container">

    <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" name="form" [formGroup]="form">
        <div class="form-group">
            <label for="gender1" class="col-sm-2 control-label">État de la commande : </label>
            <div class="col-sm-5">
                <select class="form-control inputstl" id="email1" formControlName="state">
                    <option *ngFor="let state of states" [ngValue]="state">{{state.etat}}</option>
                </select>
            </div>
        </div>
        <input type="submit" class="fadeIn fourth" value="Valider">
    </form>

    <div class="alert alert-success" role="alert" *ngIf="isDone && result.notify">
        <div>
            Nous vous informons que l'état de la commande {{result.orderNumber}}  est passé à : {{result.state}} 
        </div>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="isDone && !result.notify">
        <div>
            L'état de la commande {{result.orderNumber}}  est passé à : {{result.state}} 
        </div>
    </div>

</div>