<table class="table" *ngIf="isReady && list.length > 0">
    <thead>
        <tr>
            <th scope="col">Numéro de commande</th>
            <th scope="col">Email</th>
            <th scope="col">Etat</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list">
            <td>{{item.orderNumber}}</td>
            <td>{{item.email}}</td>
            <td class="alert alert-primary" role="alert" *ngIf="item.state == 'Reception'">{{item.state}}</td>
            <td class="alert alert-secondary" role="alert" *ngIf="item.state == 'Validation'">{{item.state}}</td>
            <td class="alert alert-info" role="alert" *ngIf="item.state == 'préparation'">{{item.state}}</td>
            <td class="alert alert-secondary" role="alert" *ngIf="item.state == 'Acheminement'">{{item.state}}</td>
        </tr>
    </tbody>
</table>

<div *ngIf="list && list.length == 0">
    Aucune commande n'est trouvée
</div>