<table class="table" *ngIf="isReady && list.length > 0">
    <thead>
        <tr>
            <th scope="col">Numéro de commande</th>
            <th scope="col">Client</th>
            <th scope="col">Etat</th>
            <th scope="col">Dernière modif</th>
            <th scope="col">Commentaire</th>
            <th scope="col">Date de réception</th>
            <th scope="col">Date d'expédition</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list" [style.background-color]="getColor(item)">
            <td (click)="qrCode(item!.id!)">{{item.orderNumber}}</td>
            <td>{{item.fullname}}</td>
            <td >{{item.state!.etat}}</td>
            <td >{{item.updatedAt| date:'dd/MM/yyyy'}}</td>
            <td >{{item.comment}}</td>
            <td >{{item.arrivalDate | date:'dd/MM/yyyy'}}</td>
            <td >{{item.shippingDate | date:'dd/MM/yyyy'}}</td>
            <button type="button" class="btn btn-danger" (click)="delete(item!.id!)">Supprimer</button>
        </tr>
    </tbody>
</table>

<div *ngIf="list && list.length == 0">
    Aucune commande n'est trouvée
</div>