<table class="table" *ngIf="isReady && list.length > 0">
    <thead>
        <tr>
            <th scope="col">Numéro de commande</th>
            <th scope="col">Client</th>
            <th scope="col">Etat</th>
            <th scope="col">Dernière modif</th>
            <th scope="col">Date de réception</th>
            <th scope="col">Date d'expédition</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of list">
            <td>{{item.orderNumber}}</td>
            <td>{{item.fullname}}</td>
            <td style="background-color : 	rgb(30,144,255)"*ngIf="item.state!.etat! == 'En cours de production'">{{item.state!.etat}}</td>
            <td style="background-color : rgb(255,165,0)" *ngIf="item.state!.etat! == 'Finition'">{{item.state!.etat}}</td>
            <td style="background-color : rgb(192,192,192)" *ngIf="item.state!.etat! == 'préparation'">{{item.state!.etat}}</td>
            <td style="background-color : rgb(154,205,50)" *ngIf="item.state!.etat! == 'Terminée'">{{item.state!.etat}}</td>
            <td  *ngIf="item.state!.etat! == 'Expédiée'">{{item.state!.etat}}</td>
            <td >{{item.updatedAt}}</td>
            <td >{{item.arrivalDate}}</td>
            <td >{{item.shippingDate}}</td>
            <button type="button" class="btn btn-danger" (click)="delete(item!.id!)">Supprimer</button>
        </tr>
    </tbody>
</table>

<div *ngIf="list && list.length == 0">
    Aucune commande n'est trouvée
</div>